@font-face {
  font-family: 'EuclidCircularBRegular';
  src: url('https://raw.githubusercontent.com/PipedreamLabs/PipedreamLabs.github.io/blob/master/fonts/EuclidCircularB-Regular.otf');
}

@font-face {
  font-family: 'EuclidCircularBLight';
  src: url('https://raw.githubusercontent.com/PipedreamLabs/PipedreamLabs.github.io/blob/master/fonts/EuclidCircularB-Light.otf');
}
