@font-face {
  font-family: 'EuclidCircularB Regular';
  src: url('https://raw.githubusercontent.com/PipedreamLabs/PipedreamLabs.github.io/blob/master/fonts/EuclidCircularB-Regular.otf');
}

@font-face {
  font-family: 'EuclidCircularB Light';
  src: url('https://raw.githubusercontent.com/PipedreamLabs/PipedreamLabs.github.io/blob/master/fonts/EuclidCircularB-Light.otf');
}
