@font-face {
  font-family: 'EuclidCircularB-Regular';
  src: url('fonts/EuclidCircularB-Regular.otf');
}

@font-face {
  font-family: 'EuclidCircularB-Light';
  src: url('fonts/EuclidCircularB-Light.otf');
}
