@font-face {
    font-family: "EuclidCircularBRegular";
    src: url('fonts/EuclidCircularB-Regular.otf');
  }

@font-face {
    font-family: "EuclidCircularBLight";
    src: url('fonts/EuclidCircularB-Light.otf');
}

.container {
    max-width: 5000px;
    margin-left: 144px;
    margin-right: 144px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img#logo {
  height: 18px;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

h1, h2, h3 {
      font-family: 'EuclidCircularBRegular';
      font-weight: normal;
}
p {
      font-family: 'EuclidCircularBLight';
      font-weight: normal;
}
header h1 {
    margin-top: 48px;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 0px;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 48px;
}
button {
    width: 180px;
    height: 46px;
    font-family: 'EuclidCircularBRegular';
    font-weight: normal;
    background-color: #2e4da7;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 16px;
    line-height: 20px;
    border: none;
}
button:hover {
    background-color: #1a2b5e;
    cursor: pointer;
}
strong {
  font-family: 'EuclidCircularBRegular';
  color: #2e4da7;
}
.bottles {
    margin-top: 75px;
    width: 655px;
}
.shoesText {
    /* change width to 373 after changing font-family */
    width: 300px;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin-top: 85px;
}
.station {
    margin-top: 80px;
    height: 470px;
}
.howItWorksText {
    font-size: 26px;
    line-height: 35px;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 30px;
}
.howItWorksSection {
    display: flex;
    justify-content: space-between;
    width: 800px;
}
.howItWorksSectionItem {
    width: 180px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.howItWorksSectionItemNumber {
    width: 30px;
    height: 30px;
    font-family: 'EuclidCircularBRegular';
    border-radius: 15px;
    background-color: #2E4DA7;
    color: white;
    font-size: 16px;
    line-height: 29px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.howItWorksSectionItemTitle {
    font-size: 20px;
    line-height: 22px;
    color: #2E4DA7;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 14px;
}
.howItWorksSectionItemText {
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    font-family: 'EuclidCircularBLight';
    text-align: center;
}
.squareBlock {
    position: relative;
    margin-top: 140px;
    width: 864px;
    height: 545px;
    overflow: hidden;
}
.squareLeft {
    position: absolute;
    width: 351.48px;
    height: 351.48px;
    left: 100px;
    top: 40px;
    background: #F4F3F6;
    transform: rotate(-15deg);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.squareRight {
    position: absolute;
    width: 351.48px;
    height: 351.48px;
    left: 412px;
    top: 100px;
    background: #F4F3F6;
    transform: rotate(15deg);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.underButtonText {
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #000000;
    opacity: 0.5;
    margin-top: 12px;
    margin-bottom: 0px;
    width: 141px;
    text-align: center;
}
footer {
    margin-top: 120px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footerTitle {
    text-align: center;
    font-size: 26px;
    line-height: 35px;
}
.footerContainer {
    display: flex;
    flex-direction: column;
    width: 400px;
}
.footerItem {
    width: 100%;
    margin-top: 30px;
}
.footerItemTitle {
    font-family: 'EuclidCircularBRegular';
    font-size: 16px;
    line-height: 23px;
    color: #2E4DA7;
    margin: 0px;
    margin-bottom: 5px;
}
.footerItemText {
    font-size: 14px;
    line-height: 21px;
    margin: 0px;
}
@media (max-width: 650px) {
    body {
      margin: 0;
    }
    .container{
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    img#logo {
      height: 14px;
    }
    header h1 {
        font-size: 26px;
        line-height: 35px;
    }
    .row {
        flex-direction: column;
        align-items: center;
    }
    .howItWorksSection {
        flex-direction: column;
        align-items: center;
        width: 250px;
    }
    .shoesText {
        font-size: 16px;
        line-height: 23px;
        width: 260px;
    }
    .howItWorksText {
        margin-top: 100px;
    }
    .howItWorksSectionItemNumber {
        display: none;
    }
    .howItWorksSectionItem {
        align-items: flex-start;
    }
    .howItWorksSectionItemText {
        text-align: center;
    }
    .squareLeft {
        width: 199px;
        height: 199px;
        left: 0px;
        top: 40px;
    }
    .squareRight {
        width: 199px;
        height: 199px;
        left: 173px;
        top: 100px;

    }
    .squareBlock {
        margin-top: 50px;
        width: 100%;
        height: 345px;
    }
    .station {
        height: 300px;
    }
    footer {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .footerTitle {
        margin: 0px;
    }
    .footerContainer {
        width: 300px;
    }
    .bottles {
        width: 100%;
    }
}
